*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* INDEX.HTML */

header{
    text-align: center;
    background-color: #5C81C1;
    color: white;
    padding: 2vh 0 19vh 0;
    height: 21vh;
    min-height: 120px;
}

h1{
    margin-bottom: 2vh;
}

nav{
    display: flex;
    margin: 3vh 8vw 0 8vw;
    gap: 5vw;
    font-size: 1em;
    flex: 1;
    transition: 0.5s;
}

.nav-element-personal-infomation, .nav-element-projects, .nav-element-contact, .nav-element-schedule{
    font-size: 1em;
    flex: 1;
    transition: 0.5s;
}

.nav-element-personal-infomation:hover, .nav-element-projects:hover, .nav-element-contact:hover, .nav-element-schedule:hover{
    font-size: 1.2em;
    transition: 0.5s;
}

#personal-information{
    height: 50vh;
    background-color: #bbd2fa;
    display: flex;
    padding: 4vh 5vw 5vh 5vw;
}

.avatar{
    background-image: url(images/avatar.png);
    background-size: cover;
    min-width: 250px;
    width: 25vw;
    border-radius: 25px;
    margin-right: 8vw;
    transition: 0.5s;
}

.avatar:hover{
    transform: scale(1.05);
    transition: 0.5s;
}




